<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Swoop Automation Suite" parallel="false">

    <test name="Category and Parametrized Tests">
        <classes>
            <class name="ge.tbc.testautomation.tests.CategoryFactory"/>
            <class name="ge.tbc.testautomation.tests.ParametrizedSwoopTests"/>
        </classes>
    </test>

</suite>
